/*底部*/
//.main-width{
//	width: 1200px;
//	margin:0 auto;
//}
.center{
	text-align: center;
}
.pro-type {
	width: 100%;
	height: 90px;
	padding-top: 30px;
	background-color: #E7E7E7;
	margin: 50px auto 0px;
}
.footer-jushu {
	width: 100%;
	float: left;
	background-color: #2F323F;
	padding-bottom: 20px;
	margin-top: 10px;
}
.foot-lomo {
	text-align: center;
	margin-top: 20px;
}
.foot-lomo a {
	color: #666;
}
.foot-link{
	overflow: hidden;
}
.foot-link span.a {
	width: 100px;
	text-align: right;
	padding-top: 12px;
}
.foot-link span {
	float: left;
	color: #666;
	padding-top: 10px;
}
.foot-link span.b {
	width: 1000px;
	line-height: 180%;
	overflow: hidden;
}
.foot-link span {
	float: left;
	color: #666;
	padding-top: 10px;
}
.foot-link span a {
	color: #666;
	padding: 0px 6px;
	float: left;
}
.foot-lomo {
	text-align: center;
	margin-top: 20px;
}
.footer {
	margin: 0px;
}
.footer {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 50px;
}

.footer-cen dl dt {
	margin-bottom: 6px;
}
.header, .menu, .banner, .footer{
	width: 100%;
	margin: 0px auto;
}
.footer-cen dl dt.fop-1 {
	background: url(../image/icon4.png) no-repeat left 50%;
	text-indent: 16px;
}
.footer-cen dl, .footer-cen dl dt, .footer-cen dl dd {
	width: 130px;
	float: left;
}
.footer-cen dl {
	border-right: 1px solid #f0f0f0;
	margin-left: 50px;
	margin-right: 5px;
	line-height: 180%;
	margin-top: 30px;
}
.footer-cen{
	overflow: hidden;
}
.footer-cen dl dt.fop-2 {
	background: url(../image/icon5.png) no-repeat left 50%;
	text-indent: 20px;
}
.footer-cen dl dt.fop-3 {
	background: url(../image/icon6.png) no-repeat left 50%;
	text-indent: 20px;
}
.footer-cen dl dt.fop-4 {
	background: url(../image/icon7.png) no-repeat left 50%;
	text-indent: 20px;
}
.footer .contact-us {
	float: left;
	width: 250px;
	margin-top: 30px;
	margin-left: 30px;
}
.footer .contact-way {
	float: left;
	display: block;
	margin-left: 12px;
}
.contact-img {
	//dispay: block;
	width: 38px;
	height: 38px;
	float: left;
}
.contact-way span {
	display: block;
}
.span-way1 {
	font-size: 16px;
	color: #333;
}
.contact-way span {
	display: block;
}
.span-way2 {
	font-size: 12px;
	color: #666;
}
.contact-tel{
	overflow: hidden;
}
.footer .footer-tel {
	float: right;
	margin-top: 15px;
}