.com-bo-fff{
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
}
.com-bo-fff-center{
	height:100px;
}
.main-width{
	width:1200px;
	margin:0 auto;
}
@import "top";
.banner ul.big {
	position: absolute;
	left: 0px;
	top: 0px;
}
.banner ul.big li{
	background: url("../image/0e766bbd-6473-4ee5-bdf3-858322f59d11.jpg") 50% 50% no-repeat;
}
.banner ul.big li a {
	width: 100%;
	display: block;
}
.banner ul.big, .banner ul.big li, .banner ul.big li a {
	float: left;
	height: 460px;
}
.banner ul.small {
	position: absolute;
	bottom: 10px;
	height: 20px;
	z-index: 10;
	left: 50%;
}
.banner ul.small li {
	float: left;
	width: 30px;
	height: 5px;
	margin-right: 10px;
	cursor: pointer;
	background-color: #fff;
}
.new-message {
	position: relative;
}
.new-message-box, .ert-box {
	width: 220px;
}
.new-message-box {
	height: 440px;
	position: absolute;
	right: 0px;
	top: -450px;
	z-index: 3;
	overflow: hidden;
}
.new-message-head {
	width: 220px;
	height: 285px;
	float: left;
	background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0 !important;
	filter: Alpha(opacity=95);
	background: #fff;
}
.new-message-body {
	width: 220px;
	height: 150px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.new-message-box span, .new-message-ty a.a, .new-message-ty a.e, .new-order label {
	float: left;
}
.new-message-ty {
	padding-left: 12px;
	padding-right: 12px;
}
.new-message-ty, .new-message-ty a.e, .new-order label {
	width: 196px;
}
.p-top15 {
	padding-top: 15px;
}
.p-top10 {
	padding-top: 10px;
}
.m-top10 {
	margin-top: 10px;
}
.is-login {
	height: 50px;
}
.new-message-ty {
	padding-left: 12px;
	padding-right: 12px;
}
.new-message-ty a.a, .new-message-ty a.c {
	padding-top: 0;
	height: 28px;
	line-height: 28px;
	width: 88px;
	border-radius: 2px;
	background: #fff;
	color: #de0539;
	text-align: center;
	border: 1px solid #de0539;
	float: left;
	font-size: 14px;
}
.new-message-ty a.a:hover, .new-message-ty a.c:hover{
	text-decoration: none;
	color:#fff;
	background-color: #de0539;
}
.new-message-ty a.c {
	margin-left: 14px;
}
.notice-height {
	height: 160px;
	overflow: hidden;
}
.new-message-ty {
	padding-left: 12px;
	padding-right: 12px;
}
.m-top25 {
	margin-top: 25px;
}
.m-top20 {
	margin-top: 20px;
}
.ft-0 {
	font-size: 0px;
}
.new-message-ty a.e {
	line-height: 32px;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.new-message-ty font.a, .new-message-ty a.e{
	color:#999;
}
.new-message-body {
	width: 220px;
	height: 150px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.hot-brand-img, .hot-brand-main, .hot-brand-main a, .hot-brand-main a span label{
	float: left;
}
.hot-brand-main a {
	/* background-color: #F5F5F5; */
	position: relative;
}
.hot-brand-main a {
	text-align: center;
	height: 98px;
}
.hot-brand-main li, .hot-brand-main a, .hot-brand-main a span, .hot-brand-main a span label.a{
	width: 134px;
}
.hot-brand-main li {
	float: left;
	height: 96px;
	margin-left: 6px;
	margin-top: 6px;
	background-color: #fff;
}
.hot-brand-main a {
	text-align: center;
	height: 98px;
}
.hot-brand-main img {
	width: 120px;
	margin-top: 15px;
}
.hot-brand-main a font {
	width: 100%;
	display: inline-block;
	padding-top: 5px;
}
.hot-brand-main a span {
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0 !important;
	filter: Alpha(opacity=70);
	background: #fff;
	border: 1px solid #de0539;
	width: 132px;
	height: 91px;
	padding-top: 3px;
}
.hot-brand-main a span label.b {
	width: 88px;
	line-height: 25px;
	background-color: #de0539;
	margin-left: 22px;
	border-radius: 12px;
}
.hot-brand-main a span {
	width: 132px;
	height: 91px;
	padding-top: 3px;
}
.m-top30 {
	margin-top: 30px;
}
.hot-brand-main a span label {
	color: #f9f9f9;
}
.hot-brand-main {
	width: 980px;
	margin-top: 14px;
}
.good-brand-jt.a {
	margin-left: 10px;
	margin-top: 10px;
}
.good-brand-jt {
	width: 40px;
	height: 40px;
}
.good-brand-jt.b {
	background: url(../image/yj1.png) no-repeat 50% 50%;
}
.good-brand-jt.b {
	margin-left: 75px;
	margin-top: 0px;
}
.good-brand-jt {
	width: 40px;
	height: 40px;
}
.hot-brand-main .qh {
	height: 94px;
	width: 132px;
	margin-left: 6px;
	margin-top: 6px;
	border: 1px solid #e2e2e2;
	background: #fff url(../image/xx.png) no-repeat 50% 50%;
}
.new-goods-wrapper {
	overflow: hidden;
}
.main {
	width: 1200px;
	margin: 0px auto;
}
.new-goods {
	width: 1225px;
	float: left;
	font-size: 0px;
	margin-top: 17px;
}
.new-goods img {
	margin-right: 11px;
	width: 231px;
	height: 300px;
}
.floor-goods-left {
	width: 220px;
	height: 540px;
	float: left;
	position: relative;
	margin-top: 20px;
}
.floor-goods-left-title {
	float: left;
	width: 200px;
	margin-left: 10px;
	color: #fff;
	font-size: 30px;
	padding-bottom: 3px;
	margin-top: 20px;
}
.floor-goods-left-cate {
	width: 212px;
	float: left;
	margin-left: 1px;
	margin-top: 11px;
}
.floor-goods-left-cate a {
	width: 96px;
	padding: 0px 2px;
	height: 33px;
	line-height: 33px;
	color: #fff;
	background: url(../image/cate_a.png) no-repeat;
	margin-left: 6px;
	text-align: center;
	float: left;
	font-size: 12px;
	margin-top: 7px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.floor-goods-left img {
	position: absolute;
	bottom: 0;
	left: 0;
}
.floor-goods-left-title a {
	color: #fff;
}
.floor-goods-right {
	width: 980px;
	float: left;
	height: 538px;
	background-color: #fff;
	margin-top: 20px;
}
.floor-goods-right-goods {
	width: 741px;
	float: left;
	overflow: hidden;
}
.floor-goods-right-goods ul {
	width: 744px;
	float: left;
}
.floor-goods-right-goods li {
	float: left;
	width: 248px;
	height: 270px;
}
.floor-goods-right-goods span {
	width: 180px;
	margin-left: 34px;
	float: left;
}
.floor-goods-right-goods-img img {
	width: 185px;
	height: 185px;
	margin-top: 8px;
}
.floor-goods-right-goods-img {
	width: 247px;
	float: left;
	text-align: center;
	font-size: 0px;
}
.fgrg-title {
	height: 35px;
	line-height: 150%;
	overflow: hidden;
	color: #666;
	margin-top: 5px;
}
.floor-goods-right-goods span {
	width: 180px;
	margin-left: 34px;
	float: left;
}
.floor-goods-right-goods ul li:hover .fgrg-title{
	color:#de0539;
}
.fgrg-price {
	color: #9b9b9b;
	padding-top: 2px;
}
.fgrg-price font {
	color: #de0539;
	font-size: 16px;
	font-weight: bold;
	padding-right: 5px;
}
.floor-goods-right-brand {
	width: 239px;
	float: left;
	height: 538px;
	position: relative;
}
.floor-goods-right-brand {
	width: 239px;
	float: left;
	height: 538px;
	position: relative;
	background-color: #fff;
}
.floor-goods-right-brand-top {
	width: 239px;
	float: left;
	overflow: hidden;
	height: 172px;
	position: relative;
}
.floor-goods-right-brand-top li {
	width: 238px;
	border-left: 1px solid #DCDCDC;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
}
.floor-goods-right-brand-top li a {
	text-align: center;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	height: 38px;
	font-size: 0px;
	float: left;
	width: 118px;
	padding-top: 4px;
}
.floor-goods-right-brand-top li img {
	width: 95px;
	height: 34px;
}
.floor-goods-right-brand-point {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 0px;
	margin-top: 8px;
}
.floor-goods-right-brand-point a {
	display: inline-block;
	width: 9px;
	height: 9px;
	background-color: #aaa;
	border-radius: 100%;
	margin: 0px 2px;
	cursor: pointer;
}
.floor-goods-right-brand-point a.active {
	background-color: #999;
}
.right-ts-img {
	position: absolute;
	left: 0;
	bottom: 0;
}
.floor-menu-left, .floor-menu-left a {
	width: 90px;
}
.floor-menu-left {
	border: 1px solid #CC3314;
	overflow: hidden;
	background-color: #fff;
		margin-left: -700px;
		left: 50%;
		position: fixed;
		top: 50%;
		margin-top: -224.5px;
}
.floor-menu-left a:hover, .floor-menu-left a.on {
	background-color: #CC3314;
	color: #fff;
}
.floor-menu-left a {
	line-height: 35px;
	color: #db3a1a;
}
.floor-goods{
	overflow: hidden;
}
.floor-menu-left a, .floor-menu-left img {
	border-bottom: 1px dotted #CC3314;
	margin-bottom: -1px;
}
.ft14 {
	font-size: 14px;
}
.good-brand-jt.a {
	background: url(../image/zj2.png) no-repeat 50% 50%;
}
.good-brand-jt.b.last {
	background: url(../image/yj2.png) no-repeat 50% 50%;
}
.good-brand-jt.a.last {
	background: url(../image/zj1.png) no-repeat 50% 50%;
}
@import "footer";
@import "right-black-fixed";