.register-title,
.register-type{
	width:1200px;
}
.register-title,
.register-type,
.register-cont,
.register-fail,
.register-success,
.register-success-ts,
.register-title span{
	float:left;
}
.register-title span{
	color:#383838;
	width:150px;
	height:42px;
	line-height:42px;
	border:1px solid #e4e4e4;
	background:#f2f2f2;
	text-align:center;
	margin-right:10px;
	color:#333;
	border-radius:4px 4px 0 0;
	position:relative;
	box-sizing:border-box;
}
.register-title span.on{
	color:#de0539;
	background:#fff;
	border-bottom:0;
	z-index:3;
}
.register-title span a{
	float:none;
	color:#383838;
}
.register-title span.on a{
	color:#de0539;
}
.register-title a{
	float:right;
	color:#333;
}
.register-title a.login_b{
	margin-top:13px;
	margin-right:65px;
}
.register-title a font{
	color:#de0539;
	border:1px solid #de0539;
	border-radius:4px;
	padding:0px 6px;
}
.register-title a:hover{
	text-decoration:underline;
}
.register-title a.nodecoration:hover{
	text-decoration:none;
}
.register-type{
	overflow:hidden;
}
.register-type,
.register-type li{
	height:40px;
}
.register-type li{
	width:300px;
	background:url(../image/menhu/re_e.png) no-repeat right top #EEEEEE;
}
.register-type li.on{
	background:url(../image/menhu/re_h.png) no-repeat right top #FF7F00;
}
.register-type li.ons{
	background:url(../image/menhu/re_t.png) no-repeat right top #EEEEEE;
}
.register-type li.no{
	background-image:none;
}
.register-type li span{
	width:24px;
	height:24px;
    background-color:#ABABAB;
    color:#fff;
    line-height:24px;
    margin-left:45px;
    margin-top:9px;
}
.register-type li.on span{
	background-color:#fff;
    color:#FF7F00;
}
.register-type li label{
	color:#646464;
}
.register-type li.on label{
	color:#fff;
}
.register-cont{
	/*padding-left:165px;	*/
	position:relative;
	margin-top:-1px;
	z-index:2;
	padding-bottom:50px;
}
.register-cont{
	width:1200px;
}
.register-fail{	
	float:left;
	margin-top:100px;
	padding-left:104px;
	height:350px;
	margin-left:360px;
}
.register-fail-text{
	background-color: #fff9ed;
    border: 1px solid #fed09f;
    padding-bottom: 15px;
    padding-left: 70px;
    width:928px;
}
.register-fail-text span.a{
	height:30px;
	background:url(../image/menhu/register-fail.png) no-repeat left 3px;
	line-height:30px;
	color:#DC160D;
	text-indent:36px;
	width:auto;
}
.register-fail-text span.b{
	color:#6A6569;
	padding-left:35px;
	width:825px;
	text-align:left;
}

.register-cont .characteristic{
	height:120px;
	background:#f2f2f2;
	width:100%;
}
.register-cont .characteristic_box{
	margin:0 48px;
	margin-top:28px;
}
.register-cont .characteristic_box img{
	margin-right:10px;
}
.register-cont .c_box_top{
	color:#333;
	margin-top:12px;
}
.register-cont .step{
	width:800px;
	height:40px;
	line-height:40px;
	position:relative;
	margin-top:15px;
	border-bottom:2px solid #ccc;
}
.register-cont .step span{
	float:left;
	width:200px;
	text-align:center;
	font-size:16px;
}
.register-cont .step span.on{
	color:#de0539;
	border-bottom:2px solid #de0539;
}
.register-cont .step span font{
	height:20px;
	width:20px;
	display:inline-block;
	border-radius:10px;
	line-height:20px;
	background:#ccc;
	color:#fff;
	margin-right:5px;
}
.register-cont .step span.on font{
	background:#de0539;
}
.register-cont ul{
	padding-top:50px;
}
.register-cont li{
	float:left;
	width:755px;
	margin-top:20px;
	margin-left:45px;
}
.register-cont li span{
	float:left;
	width:150px;
	text-align:right;
}
.register-cont li span font{
    color:#ff0000;
    padding-top:3px;
}
.register-text{
	float:left;
	border:1px solid #E2E2E2;
	border-radius:4px;
	height:38px;
	line-height:38px;
	text-indent:10px;
	font-size:14px;
}
.register-text.l1{
	width:370px;
}
.register-text.l2{
	width:232px;
}
.register-text.l3{
	width:182px;
}
.register-box{
	margin-left:170px;
	margin-top:2px;
	margin-right:8px;
}
.register-cont li a.tk{
	color:#de0539;
}
.register-cont li a.tk:hover,
.register-cont li a.yzm:hover{
	text-decoration:underline;
}
.register-cont li .next{
    width:180px;
    text-align:center;
	height:50px;
	background-color:#de0539;
	float:left;
	line-height:50px;
	color:#fff;
	margin-left:140px;
}
.register-cont li .next-wait{
	background-color:#a6a6a6;
}
.register-cont li .next-on{
	background-color:#a6a6a6;
}
.hqyzm{
	width:120px;
	height:40px;
	line-height:40px;
	background-color:#de0539;
	float:left;
	color:#fff;
}
.hqyzm.on{
	background-color:#464646;
}
.register-cont li a.yzm{
	color:#4174AB;
	font-size:14px;
	float:left;
	padding-top:10px;
	padding-left:10px;
}
.register-cont li label.error{
	background:url(../image/menhu/error.png) no-repeat left center;
	color:#de0539;
	padding-left:19px;
	margin-left:10px;
	margin-top:10px;
	float:left;
}
.register-cont li label.e_s{
	margin-top:95px;
	margin-left:15px;
}
.register-cont li label a.see{
	color:#0056AB;
}
.register-cont li label a.see:hover{
	color:#ff0000;
}
.register-cont li label.w-200{
	width:700px;
	margin-left:170px;
}
.register-img{
	float:left;
	height:40px;
	width:100px;
	margin-left:15px;
}
.agreenment,
.agreenment-title{
	width:780px;	
	margin-left:15px;
}
.agreenment span,
.agreenment p{
	line-height:220%;
	width:760px;
}
.agreenment{	
	height:300px;
	overflow-y:scroll;	
	margin-top:10px;
	overflow-x:hidden;
	border-top:1px solid #e6e6e6;
}
.agreenment-title{
	color:#F53F2F;	
}
/*autnen*/
.upload-type,
.upload-type-box{
	float:left;
}
.upload-type-box{
	position:relative;
	height:225px;
}
.upload-type,
.upload-type-box,
.upload-type label{
	width:178px;
	color:#E2E2E2;
}
.upload-type label.b{
    font-size:100px;
}
.upload-type{	
	height:178px;
}
.upload-type img{
	width:178px;
	max-height:178px;
}
.upload-type{
	border:1px dashed #C9C9C9;
	margin-top:10px; 
}
.a-upload {
    width:90px;
    position: absolute;;
    color: #0056AB;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-decoration:underline;
    font-size:14px;
    bottom:0px;
    right:55px;
    cursor:pointer;
    z-index:10;
    text-align:center;
    cursor:pointer;
}
.a-upload-d{
	right:0px;
	width:50px;
	 z-index:11;
}
.a-upload,
.a-upload-but {
    height:24px;   
    line-height:24px;
    cursor:pointer;
}
.a-upload-but {
	width:90px;
    position: absolute;
    right:55px;
    bottom:0px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    z-index:11;
}
.upload-zl{
	float:left;
	width:800px;
	padding-left:140px;
	font-size:14px;
	color:#AFAFAF;
}
.cored{
	color:#ff0000;
}
.operateScope_c{
	width: 370px;
	position: absolute;
	left: 335px;
	margin-top: 38px;
	background: #fff;
	border: 1px solid #eee;
	display:none;
	max-height:300px;
	overflow:auto;
	z-index:2;
}
.register-cont .operateScope_c .operateScope_c_li{
	width:100%;
	text-align:left;
	position:relative;
	line-height:38px;
	padding-left:15px;
	box-sizing:border-box;
}
.register-cont .operateScope_c .operateScope_c_li_p{
	width:100%;
	text-align:left;
}
.register-cont .operateScope_c .operateScope_c_li.no-c{
	padding-left:32px;
}
.register-cont .operateScope_c .operateScope_c_li img{
	margin-right:5px;
}
.register-cont .operateScope_c .operateScope_c_li .operateScope_c_li_sel{
	width:100%;
	text-align:left;
	box-sizing:border-box;
}
/*examine*/
.register-examine,
.register-examine span{
	width:1200px;
}
.register-examine{
	float:left;
}
.register-examine span{
    color:#878787;	
}
.register-examine span font{
	color:#D7191B;
}
.register-success-ts,
.register-success-ts span{
	width:646px;
}
.register-success-ts{	
	margin-top:100px;
	padding-left:104px;
	background:url(../image/menhu/register-success.png) no-repeat left top;
	height:350px;
	margin-left:360px;
}
.register-success-ts span.a{
	color:#333;
}
.register-success-ts span{
	line-height:150%;
}
.register-success-ts span.b{
	color:#727272;
}
.register-success-ts span.c{
	padding-top:120px;
}
.register-success-ts span.c a{
	color:#638CB8;
	text-decoration:underline;
}
.register-success-ts span.c a:hover{
	color:#005B9E;
}
.register-sh{
    padding-left:140px;
}
.register-success-mall{	
	float:left;
	margin-top:200px;
	padding-left:104px;
	height:350px;
	margin-left:140px;
}
.register-success-mall .success-mall-text,.register-fail .fail-text{
	margin-left:25px;
	margin-top:5px;
}
.register-fail .fail-text{
	margin-top:5px;
}
.register-success-mall .success-mall-top,.register-fail .fail-top{
	color:#333;
}
.register-success-mall .success-mall-bottom,.register-fail .fail-bottom{
	color:#de0539;
	margin-top:5px;
}
.register-success-mall .success-mall-btn,.register-fail .fail-btn{
	width:100%;
}
.btn1{
	width:140px;
	height:44px;
	line-height:44px;
	text-align:center;
	border-radius:2px;
	border:1px solid #aaa;
	color:#666;
	display:inline-block;
	margin-top:45px;
}
.btn2{
	width:140px;
	height:44px;
	line-height:44px;
	text-align:center;
	border-radius:2px;
	background:#de0539;
	color:#fff;
	display:inline-block;
	margin-top:45px;
	margin-left:80px;
}
.register-fail .fail-btn .btn2{
	margin-left:0;
	margin-right:40px;
}
.register-cont-left{
	width:800px;
	float:left;
	padding-left:100px;
}
.re-check{
	line-height:20px;
	float:left;
	padding-left:20px;
	background:url(../image/register-off.jpg) no-repeat left 50%;
	font-size:12px;
	margin-right:20px;
	margin-top:10px;
	cursor:pointer;
}
.re-check.on{
	background:url(../image/register-on.jpg) no-repeat left 50%;
}
.register-cont-right{
	width:190px;
	float:left;
	margin-left:50px;
	font-size:0px;
	padding-top:50px;
}
.qu-left{
	margin-left:200px;
}
.gszz{
	padding-bottom:200px;
}
.fullmask {
	width:100%;
	height:100%;
	position:fixed;
	top:0;bottom:0;left:0;right:0;
	background:rgba(0,0,0,.9);
	z-index:999;
	padding:150px 0;
	
}

.fullmask span {
	width:100%;
	float:left;
	color:#eee;
}

